/* RESET ------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* SETTINGS --------------------------------------------- */

:root {
  font-size: 62.5%;

  --header-height: 7.2rem;

  --hue: 159;

  /* background */
  --color-background-1: hsl(0, 0%, 98%);
  --color-background-2: hsl(0, 0%, 100%);

  /* body */
  --color-primary: hsl(var(--hue), 36%, 57%);
  --color-second: hsl(var(--hue), 65%, 88%);
  --color-alt: hsl(var(--hue), 57%, 53%);

  /* text */
  --color-title: hsl(var(--hue), 41%, 10%);
  --color-text: hsl(0, 0%, 46%);
  --color-text-light: var(--color-background-1);
}

/* BASE ------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1.6rem 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background: var(--color-background-1);
}

.title {
  font: 700 3rem 'Poppins', sans-serif;
  -webkit-font-smoothing: auto;
  color: var(--color-title);
}

.button {
  height: 5.6rem;
  padding: 3.2rem;
  border-radius: 0.4rem;

  font: 500 1.6rem 'DM Sans', sans-serif;
  color: var(--color-background-1);
  background: var(--color-primary);
  transition: background 0.3s;

  display: inline-flex;
  align-items: center;
}

.button:hover {
  background-color: var(--color-alt);
}

.divider-1 {
  height: 0.1rem;
  border: 0;

  background: linear-gradient(
    270deg,
    hsl(var(--hue), 36%, 57%),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 0.1rem;
  border: 0;

  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsl(var(--hue), 36%, 57%)
  );
}

/* LAYOUT ----------------------------------------------- */
.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

#header {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 3.2rem;

  background-color: var(--color-background-1);

  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

main {
  margin-top: calc(var(--header-height) + 3.2rem);
}

/* footer {
} */

/* SECTION ---------------------------------------------- */
.section {
  padding: 8rem 0;
}

.section .title {
  margin-bottom: 1.6rem;
}

.section header {
  margin-bottom: 6.4rem;
}

.section header p strong {
  color: var(--color-primary);
}

.section.even {
  background: white;
}

/* LOGO ------------------------------------------------- */
.logo {
  font: 700 2.1rem 'Poppins', sans-serif;
  color: var(--color-title);
}

.logo span {
  color: var(--color-primary);
}

/* NAVIGATION ------------------------------------------- */
nav {
  width: 100%;
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;

  position: relative;
}

nav ul li a:hover {
  color: var(--color-primary);
}

nav ul li a::after {
  width: 0;
  height: 0.2rem;

  content: '';
  background: var(--color-primary);
  transition: width 0.2s;

  position: absolute;
  left: 0;
  bottom: -2.4rem;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;

  top: -2.4rem;
  transition: all 0.2s;
}

nav .menu ul {
  display: none;
}

/* Show mobile menu */
nav.show .menu {
  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  background-color: var(--color-background-1);

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 6.4rem;
}

/* Toggle menu */
.toggle {
  font-size: 2.4rem;
  color: var(--color-primary);
  cursor: pointer;
  /* COME BACK LATER ---------------------------------------------------------*/
  -webkit-tap-highlight-color: transparent;
  transition: top 0.2s;

  position: absolute;
  right: 2.4rem;
}

nav.show .icon-menu,
nav .icon-close {
  opacity: 0;
  visibility: hidden;

  top: -2.4rem;
}

nav .icon-menu,
nav.show .icon-close {
  opacity: 1;
  visibility: visible;

  top: 2.4rem;
}

/* HOME ------------------------------------------------- */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  width: 103.5%;
  height: 108%;

  content: '';
  background: var(--color-second);

  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 4.708rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.4rem;
}

#home .text {
  margin: 0 2.4rem;
  text-align: center;
}

#home .text h2 {
  margin-bottom: 1.6rem;
}

#home .text p {
  margin-bottom: 3.2rem;
  max-width: 100%;
}

/* ABOUT ------------------------------------------------ */
#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  width: 94.16%;
  height: 98.3%;

  content: '';
  background: var(--color-second);

  position: absolute;
  top: -8.4%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.4rem;
}

#about .text {
  margin: 0 2.4rem;
}

/* SERVICES --------------------------------------------- */
.cards.grid {
  gap: 2.4rem;
}

.card {
  padding: 5.8rem 3.2rem;
  border-bottom: 0.4rem solid var(--color-primary);
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);

  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 8rem;
  color: var(--color-primary);
}

.card .title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

/* TESTIMONIALS ----------------------------------------- */
#testimonials .container {
  margin-left: 0rem;
  margin-right: 0rem;
}

#testimonials header {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 3.2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

#testimonials blockquote p {
  margin-bottom: 2.4rem;

  color: var(--color-title);
  text-indent: 2.8rem;

  position: relative;
}

#testimonials blockquote p::before {
  content: '\201C';
  color: var(--color-primary);
  font: 700 4rem serif;

  position: absolute;
  top: -0.8rem;
  left: -2.6rem;
}

#testimonials cite {
  display: flex;
  align-items: center;

  font-style: normal;
}

#testimonials cite img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.8rem;

  object-fit: cover;
  clip-path: circle();
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 6.4rem 1.6rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/* CONTACT ---------------------------------------------- */
#contact .grid {
  gap: 6.4rem;
}

#contact .text p {
  margin-bottom: 3.2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 2.4rem;
  margin-right: 1rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--color-primary);
}

#contact ul li a {
  color: var(--color-text);
}

#contact ul.grid {
  gap: 3.2rem;
}
